
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503648697628'); /* IE9*/
  src: url('iconfont.eot?t=1503648697628#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503648697628') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503648697628') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503648697628#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before { content: "\e65f"; }

.icon-line:before { content: "\e688"; }

.icon-italic:before { content: "\e7fe"; }

.icon-link:before { content: "\e66f"; }

.icon-underline:before { content: "\e823"; }

.icon-ul:before { content: "\e683"; }

.icon-quote:before { content: "\e8cf"; }

.icon-image:before { content: "\e627"; }

.icon-font-size:before { content: "\e931"; }

.icon-strikethrough:before { content: "\e61b"; }

.icon-heading:before { content: "\e620"; }

.icon-bold:before { content: "\e71b"; }

.icon-table:before { content: "\e813"; }

.icon-github:before { content: "\e603"; }

.icon-ol:before { content: "\e93c"; }

.icon-layout-default:before { content: "\e628"; }

.icon-layout-right:before { content: "\e629"; }

.icon-layout-left:before { content: "\e62a"; }

.icon-layout-zoom:before { content: "\e62b"; }

